.loginbg {
    background-color: white;
    color: black;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 5px solid var(--main-color-dark);
}
.loginbg h2 {
    margin-bottom: 30px;
    text-align: center;
}
.btnlogin {
    padding: 10px 40px;
    font-size: 15px;
    line-height: 1.4;
    border-radius: 24px;
    border-width: 0px;
    background-color: var(--main-color-dark);
    color: white;
    transition: 0.5s;
}
.btnlogin:hover {
    background-color: var(--main-color-light);
}
.loginbg input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 3px 10px;
    font-size: 15px;
    line-height: 1.4;
    color: #260d31;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 10px;
}
.loginbg #resetpassword {
    position: absolute;
    right: 50px;
    display: inline;
    color: #669393;
}
.errorlogin {
    color: red;
}
.imageHome::after {
    display: block;
    position: fixed;
}
.imageHome {
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1515603403036-f3d35f75ca52?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=49ee68b793d9c0f1f0bc123ffad345e6&auto=format&fit=crop&w=2250&q=80"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    ;
    background-blend-mode: overlay;
    background-size: cover;
    z-index: 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    background-position: left center;
}
.textHome {
    position: absolute;
    left: 800px;
    top: 150px;
}
@media screen and (min-width : 1600px){
    .textHome {
        left: 1100px;
    }
}
@media screen and (max-width : 1000px){
    .textHome {
        left: 300px;
    }
}
@media screen and (max-width : 500px){
    .textHome {
        left: 100px;
    }
}
.btnHome {
    color: #fff;
    width: 200px;
    background: var(--main-color-dark);
    padding: 10px 45px;
    font-size: 25px;
    line-height: 2;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}
.btnHome:hover {
    color: #fff;
    width: 200px;
    background: var(--main-color-light);
}
.contain {
    background-color: white;
    color: black;
    padding: 30px;
    margin-top:10px;
    margin-bottom: 10px;
    border-bottom: 5px solid var(--main-color-dark);
}
.webboard{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: 500px;
}
.webboard h2{
    text-align:center;
    border-bottom:2px solid var(--main-color-light);
    padding-top: 30px;
    padding-bottom: 30px;
}
.webboard #notfound{
    text-align:center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.inputwebboard{
    margin-top: 40px;
}
.wbTopic{
    background-color: #f9f9f9;
    padding: 10px 20px;
    margin-top: 10px;
    transition:0.5s;
}
.wbTopic:hover{
    background-color: #efefef;
}
.wb{
    margin-bottom: 50px;
}
.Topicshow{
    background-color: #efefef;
    padding: 40px 40px;
    margin-top: 10px;
    text-align:center;
}