.loginbg {
    background-color: white;
    color: black;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 5px solid var(--main-color-dark);
}
.loginbg h2 {
    margin-bottom: 30px;
    text-align: center;
}
.btnlogin {
    padding: 10px 40px;
    font-size: 15px;
    line-height: 1.4;
    border-radius: 24px;
    border-width: 0px;
    background-color: var(--main-color-dark);
    color: white;
    transition: 0.5s;
}
.btnlogin:hover {
    background-color: var(--main-color-light);
}
.loginbg input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 3px 10px;
    font-size: 15px;
    line-height: 1.4;
    color: #260d31;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 10px;
}
.loginbg #resetpassword {
    position: absolute;
    right: 50px;
    display: inline;
    color: #669393;
}
.errorlogin {
    color: red;
}

.textHome {
    position: absolute;
    left: 800px;
    top: 150px;
}
@media screen and (min-width: 1600px) {
    .textHome {
        left: 1100px;
    }
}
@media screen and (max-width: 1000px) {
    .textHome {
        left: 300px;
    }
}
@media screen and (max-width: 500px) {
    .textHome {
        left: 100px;
    }
}
.btnHome {
    color: #fff;
    width: 200px;
    background: var(--main-color-dark);
    padding: 10px 45px;
    font-size: 25px;
    line-height: 2;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}
.btnHome:hover {
    color: #fff;
    width: 200px;
    background: var(--main-color-light);
}
.contain {
    background-color: white;
    color: black;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 5px solid var(--main-color-dark);
}
.webboard {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: 500px;
}
.webboard h2 {
    text-align: center;
    border-bottom: 2px solid var(--main-color-light);
    padding-top: 30px;
    padding-bottom: 30px;
}
.webboard #notfound {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.inputwebboard {
    margin-top: 40px;
}
.wbTopic {
    background-color: #f9f9f9;
    padding: 10px 20px;
    margin-top: 10px;
    transition: 0.5s;
}
.wbTopic:hover {
    background-color: #efefef;
}
.wb {
    margin-bottom: 50px;
}
.Topicshow {
    background-color: #efefef;
    padding: 40px 40px;
    margin-top: 10px;
}
.btnFill a {
    color: white;
    background-color: var(--main-color-dark);
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.5s;
}
.btnFill a:hover {
    color: white;
    background-color: var(--main-color-light);
}
.eventCard {
    line-height: 1;
    min-height: 300px;
    color: var(--font-gray);
}
.eventTopic {
    background-color: #f9f9f9;
    color: black;
    padding: 10px 20px;
    padding-top: 20px;
    transition: 0.5s;
    font-size: 20px;
    position: relative;
}
.eventCard #eventInfo {
    margin-top: 20px;
}
.eventCard #eventStatus {
    font-size: 15px;
    display: block;
    right: 20;
    top: 20;
    position: absolute;
    display: inline;
}
.btnBuy {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 50px;
    font-size: 1.5vw;
    line-height: 1.4;
    border-radius: 24px;
    background-color: var(--main-color-dark);
    transition: 0.5s;
}
.btnBuy:hover {
    background-color: var(--main-color-light);
}
.btnBuy a {
    color: white;
    text-decoration: none;
}
.noBorder {
    border-bottom: 0px;
}
.eventDesc {
    line-height: 2;
}
.eventCreate {
    padding: 10px 50px;
    line-height: 2;
}
.eventDesc #eventFBbtn {
    color: white;
    background-color: #3C56A3;
    padding: 5px 10px;
    transition: 0.5s;
    text-decoration: none;
}
.eventDesc #eventFBbtn:hover {
    padding: 5px 20px;
}
.eventLast {
    margin-bottom: 50px;
    border-bottom: 5px solid var(--font-gray);
}
@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
* {
    box-sizing: border-box;
}
div#captioned-gallery {
    width: 100%;
    overflow: hidden;
}
figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 30s slidy infinite;
}
figure.slider figure {
    width: 20%;
    height: 500px;
    display: inline-block;
    position: inherit;
}
figure.slider img {
    width: 100%;
    height: 500px;
}
figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
}